<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2013, 2019 LA Referencia / Red CLARA and others
   
    This file is part of LRHarvester v4.x software
   
     This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.
   
        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.
   
        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
        
        For any further information please contact
        Lautaro Matas <lmatas@gmail.com>
 -->

<Configuration>
  <Appenders>

    <Console name="Console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="/var/log/tomcat8/lrharvester.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  
  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>
    <logger name="org.lareferencia.backend" level="INFO">
  	<AppenderRef ref="File"/>
    </logger>
  </Loggers>

</Configuration>
