#---------------------------------------------------------------#
#--------------------XOAI CONFIGURATIONS------------------------#
#---------------------------------------------------------------#
# These configs are used by the XOAI                            #
#---------------------------------------------------------------#


# XOAI installation directory
xoai.dir = config

# Name of the site
repository.name = XOAI at my National Network
mail.admin = admin@mail.com


# Storage: solr | database 
storage=solr

# Base solr index
solr.url=http://localhost:8983/solr/oai

# OAI persistent identifier prefix.
# Format - oai:PREFIX:HANDLE
identifier.prefix = localhost

# Base url for bitstreams
#bitstream.baseUrl = http://localhost:8080/xmlui

# Base Configuration Directory
config.dir = ${xoai.dir}/crosswalks/oai

# Description
description.file = ${config.dir}/description.xml

# Cache enabled?
cache.enabled = true

# Base Cache Directory
cache.dir = /tmp


##### Logging configuration #####

log.init.config =  ${xoai.dir}/log4j.properties

# Where to put the logs (used in configuration only)
log.dir = ${xoai.dir}/log

# If enabled, the logging and the solr statistics system will look for
# an X-Forward header. If it finds it, it will use this for the user IP address
#useProxies = true


